<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xdmd.IntranetEnvironment.subjectAcceptance.mapper.AcceptStateMapper">

    <select id="queryAllAccpetApply" resultType="Integer">
        select count(*) from check_apply
        <where>
            <if test="topicName != null">
                topic_name like CONCAT('%',#{topicName},'%')
            </if>
            <if test="subjectUndertakingUnit != null">
                and subject_undertaking_unit like CONCAT('%',#{subjectUndertakingUnit},'%')
            </if>
            <if test="unitNature != null">
                and unit_nature like CONCAT('%',#{unitNature},'%')
            </if>
            <if test="projectLeader != null">
                and project_leader like CONCAT('%',#{projectLeader},'%')
            </if>
            <if test="0 == 0">
                and acceptance_phase_id =3
            </if>
        </where>
    </select>

    <select id="acceptApplyQuery" resultType="com.xdmd.IntranetEnvironment.subjectAcceptance.pojo.CheckApply">
        select
          *
--         id,
--         topic_name,
--         topic_number ,
--         subject_undertaking_unit_id,
--         unit_nature ,
--         project_leader ,
--         project_leader_phone ,
--         project_leader_mail ,
--         postal_address ,
--         agreement_start_time,
--         agreement_end_time,
--         application_acceptance_time ,
--         application_acceptance_mode,
--         application_acceptance_place,
--         acceptance_contact ,
--         acceptance_contact_phone ,
--         main_content_situation,
--         submission_achievements_situation ,
--         subject_undertaking_unit_opinion,
--         environmental_departments_opinion ,
--         province_assessment_center_opinion,
--         competent_department_oinion,
--         submit_inventory ,
--         acceptance_phase_id ,
--         create_time ,
--         create_author,
--         achievement_url_id ,
--         submit_url_id ,
--         audit_report_url_id ,
--         first_inspection_report_url_id,
--         expert_group_comments_url_id ,
--         expert_acceptance_form_id,
--         application_url_id
        from
        check_apply
        <where>
            <if test="topicName != null">
                topic_name like CONCAT('%',#{topicName},'%')
            </if>
            <if test="subjectUndertakingUnit != null">
                and subject_undertaking_unit like CONCAT('%',#{subjectUndertakingUnit},'%')
            </if>
            <if test="unitNature != null">
                and unit_nature like CONCAT('%',#{unitNature},'%')
            </if>
            <if test="projectLeader != null">
                and project_leader like CONCAT('%',#{projectLeader},'%')
            </if>
            <if test="0 == 0">
                and acceptance_phase_id =3
            </if>
        </where>
        limit #{newpage},#{total}
    </select>

    <insert id="insertFile"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO upload_file(
        id,
        upload_file_address,
        upload_file_name,
        upload_file_type,
        upload_suffix_name,
        file_size,
        create_time,
        create_author)
        VALUES(
        #{uploadSpecialAudit.id},
        #{uploadSpecialAudit.uploadFileAddress},
        #{uploadSpecialAudit.uploadFileName},
        #{uploadSpecialAudit.uploadFileType},
        #{uploadSpecialAudit.uploadSuffixName},
        #{uploadSpecialAudit.fileSize},
        #{uploadSpecialAudit.createTime},
        #{uploadSpecialAudit.createAuthor});
    </insert>
</mapper>