<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xdmd.IntranetEnvironment.achievementManagement.mapper.AchievementMapper">
    <select id="queryAllAchievement" resultType="Integer">
        select count(*) from outcome_information
        <where>
            <if test="topicName != null">
                topic_name like CONCAT('%',#{topicName},'%')
            </if>

            <if test="companyName != null">
                and application_unit_name like CONCAT('%',#{companyName},'%')
            </if>
        </where>
    </select>

    <select id="queryAchievementList" resultType="com.xdmd.IntranetEnvironment.achievementManagement.pojo.OutcomeInformationAll">
        SELECT
        id,
        topic_number,
        topic_name,
        application_unit_name,
        postal_address,
        achievement_start_time,
        economic_performance,
        achievement_url_id,
        check_apply_id,
        achievement_end_time
        FROM
        outcome_information
        <where>
            <if test="topicName != null">
                topic_name like CONCAT('%',#{topicName},'%')
            </if>

            <if test="companyName != null">
                and application_unit_name like CONCAT('%',#{companyName},'%')
            </if>
        </where>
        order by create_time desc
        limit #{page},#{total}
    </select>

    <select id="queryAchievementPatentByOid" resultType="com.xdmd.IntranetEnvironment.achievementManagement.pojo.OutcomeInformationPatent">
        select
          id,
          achievements_id,
          serial_number,
          outcome_name,
          patent_application_time,
          patent_application_number
        from outcome_information_patent
        where achievements_id = #{id}
    </select>

    <select id="queryAddAchievement" resultType="Integer">
        select count(*) from check_apply
        <where>
            <if test="topicName != null">
                topic_name like CONCAT('%',#{topicName},'%')
            </if>
            <if test="companyName != null">
                and subject_undertaking_unit like CONCAT('%',#{companyName},'%')
            </if>
            <if test="0==0">
                and acceptance_phase_id in (77,88) and is_outcome = 0
            </if>
        </where>
    </select>

    <select id="queryAddChievement" resultType="com.xdmd.IntranetEnvironment.achievementManagement.pojo.TopicNumberName">
        select
            id,
            subject_undertaking_unit,
            postal_address,
            topic_name,
            topic_number,
            agreement_start_time,
            agreement_end_time,
            achievement_url_id
        from check_apply
        <where>
            <if test="topicName != null">
                topic_name like CONCAT('%',#{topicName},'%')
            </if>
            <if test="companyName != null">
                and subject_undertaking_unit like CONCAT('%',#{companyName},'%')
            </if>
            <if test="0==0">
                and acceptance_phase_id in (77,88) and is_outcome = 0
            </if>
        </where>
        order by create_time desc
        limit #{newpage},#{total}
    </select>

    <insert id="addAchievementInformation" useGeneratedKeys="true" keyProperty="id">
        insert into outcome_information(
            id,
            topic_number,
            topic_name,
            application_unit_name,
            postal_address,
            achievement_start_time,
            economic_performance,
            achievement_url_id,
            achievement_end_time,
            create_author,
            create_time,
            check_apply_id)
        values (
            #{outcomeInformationAll.id},
            #{outcomeInformationAll.topicNumber},
            #{outcomeInformationAll.topicName},
            #{outcomeInformationAll.applicationUnitName},
            #{outcomeInformationAll.postalAddress},
            #{outcomeInformationAll.achievementStartTime},
            #{outcomeInformationAll.economicPerformance},
            #{outcomeInformationAll.achievementUrlId},
            #{outcomeInformationAll.achievementEndTime},
            #{outcomeInformationAll.createAuthor},
            #{outcomeInformationAll.createTime},
            #{outcomeInformationAll.checkApplyId}
        )
    </insert>

    <insert id="addAchievementInformationPaper" useGeneratedKeys="true" keyProperty="id">
        insert into outcome_information_paper(
        id,
        achievements_id,
        serial_number,
        name,
        publication,
        publication_time,
        author,
        paper_level)
        values (
        #{outcomeInformationPaper.id},
        #{outcomeInformationPaper.achievementsId},
        #{outcomeInformationPaper.serialNumber},
        #{outcomeInformationPaper.name},
        #{outcomeInformationPaper.publication},
        #{outcomeInformationPaper.publicationTime},
        #{outcomeInformationPaper.author},
        #{outcomeInformationPaper.paperLevel}
        )
    </insert>

    <insert id="addAchievementInformationPatent" useGeneratedKeys="true" keyProperty="id">
        insert into outcome_information_patent(
        id,
        achievements_id,
        serial_number,
        outcome_name,
        patent_application_time,
        patent_application_number)
        values (
        #{outcomeInformationPatent.id},
        #{outcomeInformationPatent.achievementsId},
        #{outcomeInformationPatent.serialNumber},
        #{outcomeInformationPatent.outcomeName},
        #{outcomeInformationPatent.patentApplicationTime},
        #{outcomeInformationPatent.patentApplicationNumber}
        )
    </insert>

    <select id="querySaveAchievementByCheckApplyId" resultType="com.xdmd.IntranetEnvironment.achievementManagement.pojo.OutcomeInformationAll">
        SELECT
        id,
        topic_number,
        topic_name,
        application_unit_name,
        postal_address,
        correspondence_code,
        achievement_start_time,
        economic_performance,
        achievement_url_id,
        achievement_end_time
        FROM
        outcome_information
        where
        check_apply_id = #{id} and uid = #{uid}
    </select>

    <update id="UpdateAchievementInformation">
        update outcome_information
        set topic_number = #{outcomeInformationAll.topicNumber},
             topic_name = #{outcomeInformationAll.topicName},
             application_unit_name = #{outcomeInformationAll.applicationUnitName},
             postal_address = #{outcomeInformationAll.postalAddress},
             correspondence_code = #{outcomeInformationAll.correspondenceCode},
             achievement_start_time = #{outcomeInformationAll.achievementStartTime},
             economic_performance = #{outcomeInformationAll.economicPerformance},
             achievement_end_time = #{outcomeInformationAll.achievementEndTime},
             create_time = #{outcomeInformationAll.createTime}
        where check_apply_id = #{cid} and uid = #{uid}
    </update>

    <update id="UpdateAchievementInformationPaper">
        update outcome_information_paper
        set serial_number = #{outcomeInformationPaper.serialNumber},
             name = #{outcomeInformationPaper.name},
             publication = #{outcomeInformationPaper.publication},
             publication_time = #{outcomeInformationPaper.publicationTime},
             author = #{outcomeInformationPaper.author},
             paper_level = #{outcomeInformationPaper.paperLevel}
        where id = #{outcomeInformationPaper.id}
    </update>

    <update id="UpdateAchievementInformationPatent">
        update outcome_information_patent
        set serial_number = #{outcomeInformationPatent.serialNumber},
         outcome_name = #{outcomeInformationPatent.outcomeName},
         patent_application_time = #{outcomeInformationPatent.patentApplicationTime},
         patent_application_number = #{outcomeInformationPatent.patentApplicationNumber}
         where id = #{outcomeInformationPatent.id}
    </update>

    <insert id="uploadFile" useGeneratedKeys="true" keyProperty="id">
        insert into upload_file(
        id,
        upload_file_address,
        upload_file_name,
        upload_file_type,
        upload_suffix_name,
        file_size,
        create_time,
        create_author)
        values(
        #{uploadFile.id},
        #{uploadFile.uploadFileAddress},
        #{uploadFile.uploadFileName},
        #{uploadFile.uploadFileType},
        #{uploadFile.uploadSuffixName},
        #{uploadFile.fileSize},
        #{uploadFile.createTime},
        #{uploadFile.createAuthor}
        )
    </insert>
</mapper>